In [16]:
import env
import pandas as pd
import acquire

In [17]:
zillow = acquire.get_zillow_data()

/Users/alfredpirovits/codeup-data-science/clustering-exercises/acquire.py:11: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filename, index_col=[0])

In [18]:
zillow

,parcelid,storytypeid,heatingorsystemtypeid,propertylandusetypeid,typeconstructiontypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,architecturalstyledesc,buildingclassdesc,typeconstructiondesc,propertylandusedesc,heatingorsystemdesc,storydesc,id.1,parcelid.1,logerror,transactiondate
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0,14297519,0.025595,2017-01-01
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,1,17052889,0.055619,2017-01-01
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,2,14186244,0.005383,2017-01-01
3,12177905,NaN,2.0,261.0,NaN,NaN,NaN,NaN,2288172,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,3,12177905,-0.103410,2017-01-01
4,10887214,NaN,2.0,266.0,NaN,NaN,NaN,1.0,1970746,NaN,...,NaN,NaN,NaN,Condominium,Central,NaN,4,10887214,0.006940,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77575,11000655,NaN,2.0,261.0,NaN,NaN,NaN,NaN,673515,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77609,11000655,0.020615,2017-09-20
77576,17239384,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2968375,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,77610,17239384,0.013209,2017-09-21
77577,12773139,NaN,2.0,261.0,NaN,NaN,NaN,1.0,1843709,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77611,12773139,0.037129,2017-09-21
77578,12826780,NaN,2.0,261.0,NaN,NaN,NaN,NaN,1187175,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77612,12826780,0.007204,2017-09-25
77579,13083743,NaN,7.0,261.0,NaN,NaN,NaN,NaN,2455685,NaN,...,NaN,NaN,NaN,Single Family Residential,Floor/Wall,NaN,77613,13083743,-0.197755,2018-05-25

In [19]:
zillow.duplicated(subset='parcelid', keep='first').sum()

199

In [20]:
zillow = zillow.drop_duplicates(subset='parcelid', keep='first')

In [21]:
zillow

,parcelid,storytypeid,heatingorsystemtypeid,propertylandusetypeid,typeconstructiontypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,architecturalstyledesc,buildingclassdesc,typeconstructiondesc,propertylandusedesc,heatingorsystemdesc,storydesc,id.1,parcelid.1,logerror,transactiondate
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0,14297519,0.025595,2017-01-01
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,1,17052889,0.055619,2017-01-01
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,2,14186244,0.005383,2017-01-01
3,12177905,NaN,2.0,261.0,NaN,NaN,NaN,NaN,2288172,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,3,12177905,-0.103410,2017-01-01
4,10887214,NaN,2.0,266.0,NaN,NaN,NaN,1.0,1970746,NaN,...,NaN,NaN,NaN,Condominium,Central,NaN,4,10887214,0.006940,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,10833991,NaN,2.0,266.0,NaN,NaN,NaN,1.0,2864704,NaN,...,NaN,NaN,NaN,Condominium,Central,NaN,77608,10833991,-0.002245,2017-09-20
77575,11000655,NaN,2.0,261.0,NaN,NaN,NaN,NaN,673515,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77609,11000655,0.020615,2017-09-20
77576,17239384,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2968375,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,77610,17239384,0.013209,2017-09-21
77577,12773139,NaN,2.0,261.0,NaN,NaN,NaN,1.0,1843709,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77611,12773139,0.037129,2017-09-21
77578,12826780,NaN,2.0,261.0,NaN,NaN,NaN,NaN,1187175,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77612,12826780,0.007204,2017-09-25

In [22]:
def missing(df):
    df = pd.DataFrame(zillow.isna().sum()).rename(columns={0: 'num_rows_missing'})
    df['pct_rows_missing'] = df.num_rows_missing / len(zillow)
    return df

In [32]:
z = missing(zillow)
z

                        num_rows_missing  pct_rows_missing
parcelid                               0          0.000000
storytypeid                        71684          0.999345
heatingorsystemtypeid              25160          0.350755
propertylandusetypeid                  0          0.000000
typeconstructiontypeid             71509          0.996905
...                                  ...               ...
storydesc                          71684          0.999345
id.1                                   0          0.000000
parcelid.1                             0          0.000000
logerror                               0          0.000000
transactiondate                        0          0.000000

[70 rows x 2 columns]

In [24]:
zillow

,parcelid,storytypeid,heatingorsystemtypeid,propertylandusetypeid,typeconstructiontypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,architecturalstyledesc,buildingclassdesc,typeconstructiondesc,propertylandusedesc,heatingorsystemdesc,storydesc,id.1,parcelid.1,logerror,transactiondate
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0,14297519,0.025595,2017-01-01
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,1,17052889,0.055619,2017-01-01
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,2,14186244,0.005383,2017-01-01
3,12177905,NaN,2.0,261.0,NaN,NaN,NaN,NaN,2288172,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,3,12177905,-0.103410,2017-01-01
4,10887214,NaN,2.0,266.0,NaN,NaN,NaN,1.0,1970746,NaN,...,NaN,NaN,NaN,Condominium,Central,NaN,4,10887214,0.006940,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,10833991,NaN,2.0,266.0,NaN,NaN,NaN,1.0,2864704,NaN,...,NaN,NaN,NaN,Condominium,Central,NaN,77608,10833991,-0.002245,2017-09-20
77575,11000655,NaN,2.0,261.0,NaN,NaN,NaN,NaN,673515,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77609,11000655,0.020615,2017-09-20
77576,17239384,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2968375,NaN,...,NaN,NaN,NaN,Single Family Residential,NaN,NaN,77610,17239384,0.013209,2017-09-21
77577,12773139,NaN,2.0,261.0,NaN,NaN,NaN,1.0,1843709,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77611,12773139,0.037129,2017-09-21
77578,12826780,NaN,2.0,261.0,NaN,NaN,NaN,NaN,1187175,NaN,...,NaN,NaN,NaN,Single Family Residential,Central,NaN,77612,12826780,0.007204,2017-09-25

### Prepare

In [25]:
zillow.columns.tolist()

['parcelid',
 'storytypeid',
 'heatingorsystemtypeid',
 'propertylandusetypeid',
 'typeconstructiontypeid',
 'buildingclasstypeid',
 'architecturalstyletypeid',
 'airconditioningtypeid',
 'id',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'threequarterbathnbr',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'airconditioningdesc',
 'architecturalstyledesc',
 'buildingclassdesc',
 'typeconstructiondesc',
 'propertylandusedesc',
 'heatingorsystemdesc',
 'storydesc',
 'id.1',
 'parcelid.1',
 'logerror',
 'transactiondate']

In [26]:
zillow.propertylandusedesc.unique()

array(['Single Family Residential', 'Condominium',
       'Duplex (2 Units, Any Combination)', 'Residential General',
       'Planned Unit Development', 'Triplex (3 Units, Any Combination)',
       'Quadruplex (4 Units, Any Combination)', 'Cluster Home',
       'Commercial/Office/Residential Mixed Used', 'Cooperative',
       'Manufactured, Modular, Prefabricated Homes', 'Mobile Home',
       'Townhouse'], dtype=object)

In [27]:
single = ['Single Family Residential', 'Condominium', 'Residential General', 'Manufactured, Modular', 
          'Prefabricated Homes', 'Mobile Home', 'Townhouse']

multiple = ['Duplex (2 Units, Any Combination)', 
       'Planned Unit Development', 'Triplex (3 Units, Any Combination)',
       'Quadruplex (4 Units, Any Combination)', 'Cluster Home',
       'Commercial/Office/Residential Mixed Used', 'Cooperative']

zillow = zillow[zillow.propertylandusedesc.isin(single) == True]

In [31]:
zillow.fips.unique()

array([6059., 6111., 6037.])

In [ ]:
def handle_missing_values(df, prop_required_column, prop_required_row):